<header class="header header--primary">
	<div class="mw8 center"></div>
		<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative pa3">
			
			<div class="w-50">
				<!-- Logo -->
				<a href="/" class="dib pr3">
					<img width="200" src="/img/sparkolab-logo.png" alt="Sparkolab" class="br0 mb0 header__logo"/>
				</a>
			</div>

			<div class="w-50">
				<!-- Primary Nav -->
				<ul class="flex justify-end mb-0 grey-3">
					<li>
						<a href="https://sparkolab.com/" class="btn btn--primary btn--rounded btn--style-one">Register</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>