<div class="ph3 pv5 mw8 center">

    <div class="hero">

        <div class="flex-ns flewx-wrap">

            <div class="flex flex-column w-60-ns ph1-ns">
                <h1 class="f1-l f2-m f3">Sparkolab Blog</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae pharetra ex. Duis imperdiet est at ultrices gravida. Nam ipsum nisi, eleifend id elementum non, mollis eu purus. Vestibulum condimentum pretium arcu ac suscipit. Vestibulum pharetra iaculis nisi, vitae cursus lectus eleifend a. </p>
            </div>

            <div class="flex w-60-ns ph1-ns">
                
            </div>
        </div>

    </div>

</div>