body{
    background-image: url(/img/rings-corner.png),url(/img/rings-edge.png);
    background-position: 0 100%,right top -70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer{


}

.footer.footer--primary{
    background: rgb(214,153,232);
    background: -moz-linear-gradient(90deg, rgba(214,153,232,1) 0%, rgba(79,53,170,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(214,153,232,1) 0%, rgba(79,53,170,1) 100%);
    background: linear-gradient(90deg, rgba(214,153,232,1) 0%, rgba(79,53,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d699e8",endColorstr="#4f35aa",GradientType=1);
    color: var(--white);
}

.article-grid-item{ }

    .article-grid-item__reading-time{
        margin: var(--spacing-small) auto;
    }
        .article-grid-item__reading-time small{
            font-size: smaller;
            font-weight: 600;
        }

    .article-grid-item__title > a{
        color: var(--primary);
    }

    .article-grid-item__description{
        margin: var(--spacing-medium) auto;
    }

    .article-grid-item__link{
        /* color: var(--primary); */
        font-family: var(--header-font);
        font-weight: 700;
        text-transform: uppercase;
    }